:root {
    --fill: #6400a7;
    color: #ff0074;
}

figure {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
}

html,
body,
h1, h2,
footer, p
{
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: fit-content;
  background-color: #3c215f;
}

main {
  max-width: 100%;
  text-align: center;
  flex: 1;
}

.artwork {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  padding: 3em 0 10% 0;
}

header h1 {
  font-size: 7em;
  font-weight: bold;
  font-family: Arsenal;
}

header h2 {
  font-size: 2.5em;
  font-weight: 200;
  font-family: "Raleway";
}

figcaption {
  font-family: "Arsenal";
  padding: 1em;
  font-size: 3em;
}

/*SUN */

#sun {
  width: 15.625em;
  height: 15.625em;

}

.rotate {
  animation: rotate 50s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*SUNSET */
#sunset {
  width: 350px;
  height: 250px;
  margin-left: -5%;
}


.flow {
  animation: flow 4s infinite;
}

@keyframes flow {
  0% {
      transform: translateX(0px);
    }
  50% {
      transform: translateX(20px);
    }

  100% {
      transform: translateX(0px);
    }
}

/*LOVE */

.cls-1 {
  fill: #fd7676;
}

.cls-2 {
  fill: #fb5a5a;
}


.red svg {
  width: 250px;
  height: 250px;
}

.pulse {
  animation: pulse 1s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }

}

/*STORM */

.black svg {
  width: 250px;
  height: 250px;
}


.lightning1 {
  animation-delay: 5s;
  animation: lightning 5s 1501.3ms infinite;
  transform-origin: 50%;
  fill: #ffff96;
}

@keyframes lightning {
  0%, 20% {
      visibility: hidden;
      transform: scale(0.95);
    }
  60%, 100% {
      visibility: visible;
      transform: scale(1);
    }
}

.lightning2 {
  animation: lightning2 5s infinite;
  transform-origin: 50%;
  fill: #f3eb52;
}

@keyframes lightning2 {
  0%, 20% {
      visibility: hidden;
      transform: scale(0.95);
    }
  60%, 100% {
      visibility: visible;
      transform: scale(1);
    }
}

.total_eclipse *{
  fill: var(--fill);
}

figure:hover {
  cursor: pointer;
}

footer {
  background-color: #27163c;
  display: block;
  padding: 1em;
}

footer p {
  display: inline-block;
  font-family: sans-serif;
}




.newCol_1 {
  background-color: #5ee8d4;
  color: #247a9c;
}
.newCol_1f {
  background-color: inherit;
  border-top: 1px solid white;
}

.outline {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
